/* Overriding settings in bootstrap */

body {
    margin: 0;
  }

.navbar-default {
background-color: #ffc832;
  }
.navbar {
    min-height: 100px;
  }

p {
    font-size: 200%;
  }
label {
    font-size: 150%;
  }